
label.checked {
  display: flex;
  .checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
  }
  .checkbox + span {
    cursor: pointer;
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    color: $text-color;
    font-family: $font-SFUIText-Regular;
    bottom: 0;
    &:hover {
      text-decoration: none !important;
    }

  }

  /* Прячем оригинальный чекбокс. */
  .checkbox:not(checked) {
    position: absolute;
    opacity: 0;
  }
  .checkbox:not(checked) + span {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 30px; /* оставляем слева от label место под псевдочекбокс */
    //margin: 0 12px;
  }
  /* Оформление первой части чекбокса в выключенном состоянии (фон). */
  .checkbox:not(checked) + span:before {
    content: '';
    position: absolute;
    //top: -4px;
    left: 0;
    width: 16px;
    height: 16px;
    /*border-radius: 13px;*/
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: 0.3s;
    /*box-shadow: inset 0 2px 3px rgba(0,0,0,.2);*/
  }
  /* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
  //.checkbox:not(checked) + span:after {
  //  content: '';
  //  position: absolute;
  //  text-align: center;
  //  top: -1px;
  //  left: 1.5px;
  //  width: 16px;
  //  height: 16px;
  //  /*border-radius: 10px;*/
  //  background: transparent;
  //  color: #ffffff;
  //  /*box-shadow: 0 2px 5px rgba(0,0,0,.3);*/
  //  transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
  //}
  //.checkbox:checked + span:after {
  //  content: '\2714';
  //  font-size: 14px;
  //  font-weight: 300;
  //}
  /* Меняем фон чекбокса, когда он включен. */
  .checkbox:checked + span:before {
    background: $blue;
    border: 1px solid $blue;
    transition: 0.3s;
    //background: url('./../img/icons/checkbox-blue.svg') no-repeat center center;
    //background: url('../../assets/img/icons/checkbox-blue.svg') no-repeat center center;
    background: url('../img/checkbox-blue.svg') no-repeat center center;
  }
  /* Сдвигаем переключатель чекбокса, когда он включен. */
  .checkbox:checked + span:after {
    /*left: 26px;*/
  }
  /* Показываем получение фокуса. */
  .checkbox:focus + span:before {
    /*box-shadow: 0 0 0 3px rgba(255,255,0,.5);*/
  }
}
