//fonts
@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: url('../fonts/SFUIDisplay-Semibold.otf') format('opentype');
}
@font-face {
  font-family: 'SFUIText-Bold';
  src:  url('../fonts/SFUIText-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'SFUIText-Semibold';
  src:  url('../fonts/SFUIText-Semibold.otf') format('opentype');
}
@font-face {
  font-family: 'SFUIText-Heavy';
  src:  url('../fonts/SFUIText-Heavy.otf') format('opentype');
}
@font-face {
  font-family: 'SFUIText-Regular';
  src:  url('../fonts/SFUIText-Regular.otf') format('opentype');
}