/* ---- variables ---- */

//fonts
$font-SFUIDisplay-Semibold: 'SFUIDisplay-Semibold';
$font-SFUIText-Bold: 'SFUIText-Bold';
$font-SFUIText-Semibold: 'SFUIText-Semibold';
$font-SFUIText-Heavy: 'SFUIText-Heavy';
$font-SFUIText-Regular: 'SFUIText-Regular';

//colors
$white: #fff;
$blue: #4086f7;
$green: #7cc62b;
$grey: #d3dbe4;
$grey-background: #f7f8fa;
$grey-true: #ddd;
$text-color: #19233c;
$error-color: #e96969;
$grey-text-color: #8c959f;

$bluegreen: #008872;
$light-indigo: #8856cb;
$tealish: #22b1bf;
$brownish-grey: #72605c;


// user colors
$user-brown: #ae6e03;
$user-green: #519800;
$user-red: #f61000;