.section{
  background: transparent;
  &.section--border{
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    //для фиксированной шапки таблицы
    &.table-part{
      border-radius: 0 0 4px 4px;
      &__header{
        overflow: hidden;
        .table{
          border: none;
        }
        &.section--border{
          border-radius: 4px 4px 0 0;
          border-bottom: none;
        }
      }
    }
  }
  .section-wrapper{
    //display: flex;
    //flex-direction: column;
  }
}


//для фиксированной шапки таблицы
.table-fix-header{
  height: auto;
  padding: 0 ;
  background: #f7f8fa;

  .table{
    background: #fff;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    thead{
      border-bottom: none;
    }
  }
}

//для скрытия-показа кнопок редактирования строк
//.selected{ background: silver; transition: .3s}
.selected{
  opacity: 1!important;
  //transition: .3s
}

//для фиксированной шапки таблицы - одинаковая ширина: шапка и тело таблицы
.table-part{
  margin-right: 40px;
  padding-right: 40px;
  &.table--small{
    padding-right: 0;
  }
  .fixed-buttons{
    ////закомментить
    //box-shadow: -4px 0px 11px -8px;
    //background: $white;
    //padding-top: 1px;


    //border-bottom: 1px solid $grey-true;
    //border-top: 1px solid $grey-true;
  ////
    ////раскомментить
    background: transparent!important;
    ////
    width: 105px;
    //height: 30px;
    position: fixed;
    //right: 41px;
    right: 58px;
    z-index: 2;
    //height: 79px;
    overflow: hidden;
    .fixed-button{

      background: $white;
      ////раскомментить
      opacity: 0;
      &:hover{
        opacity: 1;
      }
      /////
      //height: 29px;
      //border-bottom: 1px solid $grey-true;
      //border-bottom: 1px solid transparent;
      margin-top: 1px;
      border-left: 1px solid $grey-true;

      //text-align: right;

      padding-right: 7px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      //vertical-align: middle;
      //display: inline-block;
      //width: 100%;

      &:nth-child(even){
        //background: darkviolet;
      }
    }
  }
  tr{
    position: relative;


    th, td{
      border-left: 1px solid $grey-true;
      &:first-child{
        //border-right: none;
        border-left: none;
      }
      &:last-child{
        //border-right: none;
        border-left: none;
      }
      > div{
        //min-width: 100px;
        width: 160px;
      }
      &:nth-child(1) > div{
        width: 200px;
      }
      &.empty{
        > div{
          width: 89px;
          color: transparent;
        }
      }
      &.fixed{
        z-index: 0;
        //position: absolute;
        right: 41px;
        top: 0;
        background: #ddd;
        width: 100px;
        //height: 100%;

        > div{
          //position: relative;
        }

      }

      //width: 20%;
      //&:nth-child(1){
      //  width: 18%;
      //}
      //&:nth-child(2){
      //  width: 17%;
      //}
      //&:nth-child(3){
      //  width: 32%;
      //}
      //&:nth-child(4){
      //  width: 33%;
      //}

    }
    td{
      font-size: 12px;
    }
    th.fixed{
      padding-right: 33px;
    }
  }

}