extends layout/card-layout

block body

  block header
    div.header
      header
        div.header-wrapper.header-wrapper--left
          //a(href="/") Меню
          div.header-breadcrumps
            a.header-breadcrumps__level(href="#") Отходообразователи
            a.header-breadcrumps__level(href="#") Гаражно-строительные кооперативы

          //div.header-navigation
          //  div.section-name
          //    span.section-name__num 02
          //    span.section-name__name Карточка
          //div.header-profile
          //  div.header-profile__photo
          //    img(src="../../img/user.svg")
          //  span.header-profile__name Петр Анисимов

  block toolbar
    div.nav
      nav
        div.toolbar-navigation
          div.toolbar-navigation__line
            h1.title Добавление объекта
            a.close(href="/")
          div.toolbar-navigation__line
            div.tabs
              span.active Основные сведения
              span Зона деятельности
              span Лицензия
              span Тарифы
            //div.toolbar-settings
              form
                input.search(type="search")
                button.filter-open(type="button") Фильтр
              div.toolbar-panel
                button.square.btn-col
                //button.square.btn-refresh
                //button.square.btn-delete
                //button.square.btn-edit
                //button.square.btn-add

        div.toolbar-navigation.toolbar-navigation--in-card
          div.toolbar-navigation__line
            div.toolbar-title Название таблицы
            div.toolbar-settings
              form
                input.search(type="search")
                button.filter-open(type="button") Фильтр
              div.toolbar-panel
                button.square.btn-col
                button.square.btn-refresh
                button.square.btn-delete
                //button.square.btn-edit
                button.square.btn-add


        //div.toolbar-navigation__filter
          div.set-date
            label Период:
            input.date(placeholder="дд.мм.гг")
            label -
            input.date(placeholder="дд.мм.гг")
          div.set-filter
            label Показать:
            label.checked
              input.checkbox(type="checkbox" checked)
              span Отредактированные
            label.checked
              input.checkbox(type="checkbox")
              span Созданные
            label.checked
              input.checkbox(type="checkbox")
              span Удаленные
  block content
    //div.section
    div.section.section--border.table-fix-header.table-part.table-part__header
      div.section-wrapper
        div.table
          table
            thead
              tr
                th
                  div Муниципальное образование
                th
                  div Численность населения в тыс.чел.
                th
                  div Численность населения в тыс.чел.
                th
                  div Численность населения в тыс.чел.
                th
                  div Численность населения в тыс.чел.
                th
                  div Кол-во отходов за последний отчетный год в млн.тонн
                th
                  div Численность населения в тыс.чел.
                th
                  div Численность населения в тыс.чел.
                th
                  div Численность населения в тыс.чел.
                th
                  div Численность населения в тыс.чел.
                th
                  div Численность населения в тыс.чел.
                th
                  div Численность населения в тыс.чел.
                th
                  div Численность населения в тыс.чел.
                th
                  div Численность населения в тыс.чел.
                th.empty
                  div

                



    div.section.section--border.table-part.table-part__body
      div.section-wrapper
        div.user
          div.table.table--noborder
            div.fixed-buttons
              div.fixed-buttons__wrapper
                div.fixed-button
                  button.square--row.btn-edit
                  button.square--row.btn-delete
                  //button.square--row.btn-delete
                div.fixed-button
                  button.square--row.btn-edit
                  button.square--row.btn-delete
                div.fixed-button
                  button.square--row.btn-edit
                  button.square--row.btn-delete
                div.fixed-button
                  button.square--row.btn-edit
                  button.square--row.btn-delete
                div.fixed-button
                  button.square--row.btn-edit
                  button.square--row.btn-delete
                div.fixed-button
                  button.square--row.btn-edit
                  button.square--row.btn-delete
                div.fixed-button
                  button.square--row.btn-edit
                  button.square--row.btn-delete
                div.fixed-button
                  button.square--row.btn-edit
                  button.square--row.btn-delete
                div.fixed-button
                  button.square--row.btn-edit
                  button.square--row.btn-delete

            table
              //thead
                th
                  div.sortable
                    div Вид действия
                    div.arrows
                      span.up
                      span.down
                th
                  div.sortable
                    div Дата действия
                    div.arrows
                      span.up
                      span.down
                th
                  div.sortable
                    div Раздел
                    div.arrows
                      span.up
                      span.down
                th
                  div.sortable
                    div Объект
                    div.arrows
                      span.up
                      span.down

              tbody
                tr
                  td
                    div Городской округ Екатеринбурга
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 3000
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td.empty
                    div empty


                tr
                  td
                    div Городской округ Екатеринбурга
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 3000
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td.empty
                    div empty

                tr
                  td
                    div Городской округ Екатеринбурга
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 3000
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td.empty
                    div empty

                tr
                  td
                    div Городской округ Екатеринбурга
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 3000
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td.empty
                    div empty

                tr
                  td
                    div Городской округ Екатеринбурга Городской округ Екатеринбурга Городской округ Екатеринбурга Городской округ Екатеринбурга
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 3000
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td.empty
                    div empty

                tr
                  td
                    div Городской округ Екатеринбурга
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 3000
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td.empty
                    div empty

                tr
                  td
                    div Городской округ Екатеринбурга
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 3000
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td.empty
                    div empty

                tr
                  td
                    div Городской округ Екатеринбурга Городской округ Екатеринбурга Городской округ Екатеринбурга
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 3000
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td.empty
                    div empty

                tr
                  td
                    div Городской округ Екатеринбурга Городской округ Екатеринбурга
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 3000
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td
                    div 1678
                  td.empty
                    div empty




  block footer
    div.footer
      footer
        //div.footer-wrapper
          div.left-navigation
            button.btn.btn-icon.download Скачать
          div.right-navigation
            div.page-nav
              label Показывать по:
              select
                option 10
                option 20
            div.pagination
              span.naviate.naviate--prev
              input(value='1')
              span из
              span 120
              span.naviate.naviate--next
        div.footer-wrapper.footer-wrapper--top-border
          div.left-navigation
            button.btn.btn-icon.delete Удалить

          div.right-navigation
            div Попробуйте изменить высоту окна браузера
            button.btn.cancel Отмена
            button.btn.save Сохранить



  //div#app
    block header
      div#header
        include includes/header
    block toolbar
      div#toolbar
        include includes/toolbar
    block content
      section#content
        //div
          include includes/tooltip

        div.content
          include includes/table

    div#footer
      block footer
        //p footer
        include includes/footer



append scripts
  //script(src = 'js/script.js')



